In [1]:
import pandas as pd

In [3]:
numbers=pd.Series([12,3,4,44,2,1000,2])
numbers

0      12
1       3
2       4
3      44
4       2
5    1000
6       2
dtype: int64

In [5]:
numbers.sort_values()

4       2
6       2
1       3
2       4
0      12
3      44
5    1000
dtype: int64

In [7]:
numbers.sort_values(ascending=True)

4       2
6       2
1       3
2       4
0      12
3      44
5    1000
dtype: int64

In [9]:
numbers.sort_values(ascending=False)

5    1000
3      44
0      12
2       4
1       3
4       2
6       2
dtype: int64

In [11]:
data=pd.read_csv('Location.csv',squeeze=True)
location_data=data.copy()
location_data

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [14]:
location_data.sort_values()

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [15]:
location_data.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object