In [4]:
import pandas as pd

# from dictionary of list

In [2]:
data={'Product Name':['product A','product B ','product C'], 'Product Price' : [12500,15500,13900]}
df=pd.DataFrame(data)
df

  Product Name  Product Price
0    product A          12500
1   product B           15500
2    product C          13900

### dictionary of list + index

In [3]:
data={'Product Name':['product A','product B ','product C'], 'Product Price' : [12500,15500,13900]}
df=pd.DataFrame(data,index=['A','B','C'])
df

  Product Name  Product Price
A    product A          12500
B   product B           15500
C    product C          13900

In [4]:
data={'Product Name':['product A','product B ','product C'], 'Product Price' : [12500,15500,13900]}
products_ids=['A','B','C']
df=pd.DataFrame(data,index=products_ids)
df

  Product Name  Product Price
A    product A          12500
B   product B           15500
C    product C          13900

### dictionaries

In [12]:
data=[{'Product Name':'product A','Product Price' :12500},
      {'Product Name':'product B ','Product Price' :15500},
      {'Product Name':'product C', 'Product Price' : 13900}]
df=pd.DataFrame(data)
df

  Product Name  Product Price
0    product A          12500
1   product B           15500
2    product C          13900

In [14]:
ser_products=pd.Series(['product A','product B','product C'])
ser_price=pd.Series([1200,1500,1400])

In [15]:
data={'Product_Name ':ser_products , ' Product Price ': ser_price}
df=pd.DataFrame(data)
df

  Product_Name    Product Price
0     product A             1200
1     product B             1500
2     product C             1400

In [16]:
ser_products=pd.Series(['product A','product B','product C'],index=['A','B','C'])
ser_price=pd.Series([1200,1500,1400],index=['A','B','C'])

In [17]:
data={'Product_Name ':ser_products , ' Product Price ': ser_price}
df=pd.DataFrame(data)
df

  Product_Name    Product Price
A     product A             1200
B     product B             1500
C     product C             1400

In [24]:
''' list to list '''
data=[['prduct A',12500],['product B',13600],['product C',15600]]
df=pd.DataFrame(data)
df

           0      1
0   prduct A  12500
1  product B  13600
2  product C  15600

In [26]:
df.columns=['Product Name','Product price']
df

  Product Name  Product price
0     prduct A          12500
1    product B          13600
2    product C          15600

In [29]:
df.index=['A','B','C']
df

  Product Name  Product price
A     prduct A          12500
B    product B          13600
C    product C          15600

# construst dataframe in professional way

In [18]:
data1=pd.DataFrame(data=[['product A ', 12500],['product B ',  13590],['product C' , 25800] ],columns=['Product Name','Product Price'],
index=['A','B','C'])

data1

  Product Name  Product Price
A   product A           12500
B   product B           13590
C    product C          25800

In [19]:
df.shape

(3, 2)